   
        <div class="carousel">
            <ng-container *ngFor="let movie of movies; let i = index">
                <img *ngIf="i === currentSlide" src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}"
                    class="slide" style="max-width:100vw; max-height:60vh;" routerLink="/movie/movie/{{movie.id}}" />
            </ng-container>

            <!-- controls -->
            <button class="control prev" (click)="onPreviousClick()">
                <span class="arrow left" style="color:black;"></span>
            </button>
            <button class="control next" (click)="onNextClick()">
                <span class="arrow right"></span>
            </button>
        </div>
    
