<div style="overflow:visible; height:95vh;">
    <h2>Estreno de peliculas</h2>
    <app-horizontal-card-movie [movies]="newMovies"></app-horizontal-card-movie>
    <h2>Peliculas en tendencia</h2>
    <app-horizontal-card-movie [movies]="trendingMovies"></app-horizontal-card-movie>               
</div>

<!--
<div id="ESTE" style="overflow:visible; height:95vh;">    
    <h2 class="text-center color-text">Busca tu pelicula Favorita</h2>
    
    <app-search-form (onSearchMovie)="onSearchMovie($event)"></app-search-form>
    <app-card-movie [movies]="movies"></app-card-movie>
 </div>
-->