<mat-toolbar style="background-color: rgb(11, 11, 11);">
    <button mat-icon-button (click)="onMenu(opened=!opened)">
        <mat-icon style="color: white;">menu</mat-icon>
    </button>
    <h1 routerLink="/movie" style="font-size: 80%;">MoviesApp</h1>
    <span class="spacer"></span>
    <div class="search" (mouseenter)="focusSearch()" (mouseleave)="leaveSearch()">
        <input type="text" class="form-control" [formControl]="searchMovie"
            placeholder="Search movie"  />
            <ng-container *ngIf="viewSearchResponse">
                <ng-container *ngFor="let movie of movies">
                    <p routerLink="/movie/movie/{{movie.id}}">{{movie.title}}</p>
                </ng-container>
            </ng-container>
        
        
    </div>
    <button mat-icon-button (click)="onSearchMovie()">
        <mat-icon style="color: white;">search</mat-icon>                
    </button>    
    
    <button mat-icon-button >
        <mat-icon style="color: white;" (click)="onLogout()">logout</mat-icon>
    </button>
</mat-toolbar>


