/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  background-color: #072069;
  overflow: hidden;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 5% !important;
}

.mat-drawer-container {
  background-color: #131314;
  color: #fff;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(71, 69, 69);
    border-radius: 10px;
  }
  
  
  .mat-drawer-content {
    overflow-y: hidden;
  }
  
