<ul class="list-group">
    <hr>
    <li class="lead" routerLink="/movie/popular">Peliculas Populares</li>
    <hr>
    <li class="lead" (click)="onViewGenres()">Lista de generos.</li>
    <hr>
    <div *ngIf="viewGenres">
        <ng-container *ngFor="let genre of genres">
            <small style="color:white;" routerLink="/movie/genre/{{genre.id}}" routerLinkActive="active-link"
                style="color: white">{{genre.name}}</small>
            <hr>
        </ng-container>

    </div>
    <li class="lead " (click)="onLogout()">Logout</li>
</ul>