<ul class="list-group">    
    <hr>    
    <li class="lead" routerLink="/movie/popular" routerLinkActive="active-link">Peliculas Populares</li>
    <hr>
    <li class="lead" (click)="onViewGenres()">Lista de generos.</li>
    <hr>
    <div *ngIf="viewGenres">
        <ng-container *ngFor="let genre of genres">
            <div routerLinkActive="active-link">
                <small style="color:white;" routerLink="/movie/genre/{{genre.id}}" routerLinkActive="active-link"
                    style="color: white">{{genre.name}}</small>
            </div>
            <hr>
        </ng-container>

    </div>
</ul>