

.white-text{
    color: white;
}
h1{
    cursor:pointer;
}
li{
    cursor: pointer;
    margin-left: 12%;
}
small{
    cursor: pointer;
    margin-left: 12%;
}
.active-link{
    background-color: red;
}
